html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || General */

:root,
body {
  height: 100vh;
  font-size: 16px;
  
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

.content {
  --profile-pic--small: 50px;
  --profile-pic--big: 70px;
  
  --content-inner-background: #ffffff;
  --lightblue: #2291d3;
  --second-text-color: #ffffff;
  --card-border: #eeb32d;
  --content-outer-background: #e1e7f0;
  grid-template: 80px 80px 1fr / 1fr 4fr;
  height: 100%;

  background: var(--content-outer-background);
}

.profile-picture {
  border-radius: 100%;
  background: black;
}

/* || Utilities */

* {
  list-style: none;
  box-sizing: border-box;
}

/* || Header */

.header {
  --search-icon: 25px;
  --header-gap: 20px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--header-gap);

  align-content: center;

  background: var(--content-inner-background);
}

.header__search {
  display: flex;
  align-items: center;
  grid-column: 1;
}

.header__search-icon {
  width: var(--search-icon);
  height: var(--search-icon);
}

.header__input {
  height: 30px;
  background: grey;
  width: calc(100% - var(--search-icon));
}

.header__profile {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: var(--header-gap);
}

.profile-picture--header {
  width: var(--profile-pic--small);
  height: var(--profile-pic--small);
}

/* || Nav */

.nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70px 3fr 2fr;
  align-items: center;
  gap: 8px;

  background: var(--content-inner-background);
}

.profile-picture--nav {
  width: var(--profile-pic--big);
  height: var(--profile-pic--big);
  grid-column: 1 / 2;
}

.nav__text {

}

.l-flex--nav-text {
  flex-flow: column;
  gap: 8px;
}

.nav__text--big {
  font-size: 24px;
}

.l-flex--nav-buttons {
  gap: 3vw;
}

.nav__btn {
  width: max(7vw, 60px);
  height: 40px;

  color: var(--second-text-color);

  background: var(--lightblue);
}

/* || Main */

.main {
  --inner-padding: 1vw;
  --heading-content-gap: 16px;
  grid-column: 2 / 3;
  grid-row: 3 / -1;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  overflow: scroll;

  padding: 3vw;
}

.main__projects {
  grid-row: 1 / -1;

  display: flex;
  flex-flow: column;
  gap: var(--heading-content-gap);

  padding: var(--inner-padding);

}

.main__announcements {
  display: flex;
  flex-flow: column;
  gap: var(--heading-content-gap);

  padding: var(--inner-padding);
}

.main__trending {
  display: flex;
  flex-flow: column;
  gap: var(--heading-content-gap);
  padding: var(--inner-padding);
}

.main__heading {
  font-weight: bold;
  font-size: calc(1rem + 4px);
}

/* || Projects */

.l-grid--projects {
  /* grid-template: 1fr 1fr 1fr / 2fr 2fr; */
  grid-template: 1fr 1fr / repeat(auto-fill, minmax(250px, 1fr)) ;
  gap: 2vw;

}

.project {
  height: 250px;
  background: var(--content-inner-background);
}

.project__heading {
  font-weight: bold;
  font-size: 1rem;
}

/* || Announcements */

.announcements {
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  gap: 16px;
  background: var(--content-inner-background);
}

.announcement {
  font-size: calc(1rem - 2px);
}

.announcement__heading {
  font-weight: bold;
  font-size: 1rem;
}

.announcement__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;

  line-height: 17px;
}

/* || Trending */

.trending {
  background: var(--content-inner-background);
}

.profile-picture--trending {
  width: var(--profile-pic--small);
  height: var(--profile-pic--small);
}

/* || Dashboard */

.dashboard {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: grid;
  grid-template: 100px 2fr 3fr / 100%;

  color: var(--second-text-color);

  background: var(--lightblue);
}

.dashboard__logo {
  grid-row: 1;
}

.dashboard__menu {
}
