html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || General */

:root,
body {
  --profile-pic--small: 47px;
  --profile-pic--big: 70px;

  --header-nav-padding-horizontal: 40px;
  
  --content-inner-background: #ffffff;
  --sidebar-and-buttons: #000000;
  --lightgrey: #636363;
  --second-text-color: #ffffff;
  --card-border: #a5598e;
  --content-background: #e1e7f0;
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Roboto', sans-serif, var(--system-font);
  height: 100vh;
  font-size: 16px;
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

.content {
  grid-template: 100px 100px 1fr / min(30vw, 300px) 4fr;
  height: 100%;
}

.profile-picture {
  border-radius: 50%;
  object-fit: cover;
}

/* || Utilities */

* {
  list-style: none;
  box-sizing: border-box;
}

.sidebar__menu,
.nav__btn,
.project__option,
.header__profile,
.announcement,
.trend {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* || Header */

.header {
  --search-icon: 25px;
  --header-gap: 25px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  
  display: grid;
  grid-template-columns: 5fr minmax(250px, 2fr);
  gap: var(--header-gap);

  align-content: center;

  padding: 0 var(--header-nav-padding-horizontal);
}

.header__search {
  display: flex;
  align-items: center;
  gap: 16px;
  grid-column: 1;
}

.header__search-icon {
  width: var(--search-icon);
  height: var(--search-icon);
}

.header__input {
  height: 30px;
  width: calc(90% - var(--search-icon));
  padding: 10px;

  background: var(--content-background);
  border-radius: 20px;
}

.header__input:focus {
  outline: none !important;
  border: 1px solid #2292d36e;
}

.header__profile {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: var(--header-gap);
}

.header__profile-name {
  font-size: calc(1rem + 2px);
  font-weight: 700;
}

.header__notifications {
  width: 25px;
  height: 25px;
}

.profile-picture--header {
  width: var(--profile-pic--small);
  height: var(--profile-pic--small);
}

/* || Nav */

.nav {
  z-index: 1;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70px 3fr 2fr;
  align-items: center;
  gap: 20px;

  padding: 15px var(--header-nav-padding-horizontal);

  box-shadow: 0 5px 7px -5px rgb(168, 168, 168);
}

.profile-picture--nav {
  width: var(--profile-pic--big);
  height: var(--profile-pic--big);
  grid-column: 1 / 2;
}

.l-flex--nav-text {
  flex-flow: column;
  gap: 8px;
}

.nav__text {
  font-weight: 700;
}

.nav__text--big {
  font-size: 24px;
}

.l-flex--nav-buttons {
  justify-content: flex-end;
  gap: 2vw;
}

.nav__btn {
  width: max(7vw, 60px);
  height: 40px;

  color: var(--second-text-color);

  background: var(--sidebar-and-buttons);
  border-radius: 20px;
}

/* || Main */

.main {
  --inner-padding: 10px;
  --heading-content-gap: 16px;
  --main-border-radius: 10px;
  grid-column: 2 / 3;
  grid-row: 3 / -1;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  overflow: auto;

  padding: 10px;

  background: var(--content-background);
}

.main__projects {
  grid-row: 1 / -1;

  display: flex;
  flex-flow: column;
  gap: var(--heading-content-gap);

  padding: var(--inner-padding);

}

.main__announcements {
  display: flex;
  flex-flow: column;
  gap: var(--heading-content-gap);

  padding: var(--inner-padding);
}

.main__trending {
  display: flex;
  flex-flow: column;
  gap: var(--heading-content-gap);
  padding: var(--inner-padding);
}

.main__heading {
  font-weight: bold;
  font-size: calc(1rem + 4px);
}

/* || Projects */

.l-grid--projects {
  /* grid-template: 1fr 1fr 1fr / 2fr 2fr; */
  grid-template: 1fr 1fr / repeat(auto-fit, minmax(350px, 1fr)) ;
  gap: 2vw;

}

.project {
  height: 250px;
  padding: 40px 25px;
  display: grid;
  grid-template: calc(1rem + 2px) 1fr 50px / 1fr;
  gap: 6px;

  background: var(--content-inner-background);
  border-left: 10px solid var(--card-border);
  border-radius: var(--main-border-radius);
}

.project__heading {
  font-weight: 600;
  font-size: calc(1rem + 2px);
}

.project__text {
  color: var(--lightgrey);
}

.project__options {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-self: end;
}

.project__option {
  width: 25px;
  height: 25px;
}

/* || Announcements */

.announcements {
  grid-template-rows: 1fr 1fr 1fr;

  height: 350px;
  padding: 25px 30px;

  background: var(--content-inner-background);
  border-radius: var(--main-border-radius);
}

.announcement {
  display: flex;
  flex-flow: column;
  justify-content: start;
  font-size: calc(1rem - 4px);
  padding-top: 15px;
}

.announcement:not(:last-child) {
  border-bottom: 2px solid #e9e9e9;
}

.announcement__heading {
  margin-bottom: 4px;

  font-weight: bold;
  font-size: calc(1rem - 2px);
}

.announcement__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;

  line-height: 17px;

  color: var(--lightgrey);
}

/* || Trending */

.trending {
  height: 350px;
  padding: 25px;

  grid-template-rows: 1fr / 1fr / 1fr / 1fr;
  gap: 20px;

  background: var(--content-inner-background);
  border-radius: var(--main-border-radius);
}

.trend {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: calc(1rem - 2px);
}

.profile-picture--trending {
  width: var(--profile-pic--small);
  height: var(--profile-pic--small);
}

.l-flex--trending {
  flex-flow: column;
  gap: 4px;
}

.trend__description {
  color: var(--lightgrey);
}

/* || Sidebar */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 50px;

  color: var(--second-text-color);

  background: var(--sidebar-and-buttons);
}

.sidebar__menu {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.sidebar__item,
.sidebar__logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.sidebar__logo {
  grid-row: 1;
  padding: 20px 0 0 20px;
}

.sidebar__item {
  padding: 10px 28px;
}

.sidebar__item:hover {
  background:rgb(22, 22, 22)0;
}

.sidebar__text {
  font-weight: 700;
  font-size: calc(1rem + 2px);
}

.sidebar__text--logo {
  font-size: calc(2rem - 4px);
}

.sidebar__img {
  width: 25px;
  height: 25px;
}

.sidebar__img--logo {
  width: 40px;
  height: 40px;
}