html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || General */

:root,
body {
  height: 100vh;  
  font-size: 16px;
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

.content {
  grid-template: 100px 100px 1fr / 1fr 4fr;
  height: 100%;
}

/* || Utilities */

* {
  list-style: none;
  box-sizing: border-box;
}

/* || Header */

.header {
  --search-icon: 25px;
  --header-gap: 20px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 1px solid black;
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--header-gap);

  align-content: center;
}

.header__search {
  grid-column: 1;
}

.header__search-icon {
  border: 1px solid burlywood;
  width: var(--search-icon);
  height: var(--search-icon);
}

.header__input {
  height: 30px;
  background: grey;
  width: calc(100% - var(--search-icon));
}

.header__profile {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: var(--header-gap);
}

/* || Nav */

.nav {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70px 3fr 2fr;
  align-items: center;
  gap: 8px;
  border: 1px solid forestgreen;
}

.nav__profile-picture {
  width: 70px;
  height: 70px;
  grid-column: 1 / 2;
  border-radius: 100%;
  background: black;
}

.nav__text {

}

.l-flex--nav-text {
  flex-flow: column;
  gap: 8px;
}

.nav__text--big {
  font-size: 24px;
}

.l-flex--nav-buttons {
  gap: 3vw;
}

.nav__btn {
  width: 7vw;
  height: 40px;
}

/* || Main */

.main {
  border: 1px solid saddlebrown;
  grid-column: 2 / 3;
  grid-row: 3 / -1;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  overflow: scroll;
}

.main__projects {
  grid-row: 1 / -1;

  display: flex;
  flex-flow: column;
  border: 1px solid salmon;

}

.main__heading {
  font-weight: bold;
  font-size: calc(1rem + 4px);
}

.l-grid--projects {
  grid-template: 1fr 1fr 1fr / 2fr 2fr;
  gap: 12px;

}

.project {
  height: 250px;
  border: 1px solid slateblue;
}

/* || Dashboard */

.dashboard {
  border: 1px solid rgb(0, 96, 156);
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: grid;
  grid-template: 100px 2fr 3fr / 100%;
}

.dashboard__logo {
  border: 1px solid black;
  grid-row: 1;
}

.dashboard__menu {
  border: 1px solid black;
}
